@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background: #FFFFFF;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*buttons*/

.button {
  background-color: #756157;
  font-family: inherit;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.button-favorite {
  background-color: #82B3D3;
}

.button-pagination {
  background-color: #82B3D3;
}

.button-light {
  background-color: #F2F2F2;
  color: inherit;
}

.button-selected {
  background-color: #7DB54F;
}

.button-submit {
  background-color: #82B3D3;

}

.filter-button {
  font-weight: 400;
  text-transform: none;
  background-color: transparent;
  border: none;

}

/*header*/
.header {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;

}

.navigation-logo {
  margin-left: 70px;
  margin-right: 30px;
}

.navigation-link {
  color: inherit;
  text-decoration: inherit;
}

.navigation-list {
  list-style: none;
  width: 460px;
  margin: 0;
  padding: 0;

}

.navigation-user {
  width: 300px;
  margin-left: auto;
}

/*main*/
.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;

}

/*hero*/
.hero {
  background-color: #000000;
  background-image: url(../images/backgrounds/background-welcome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;

}

.hero-about {
  width: 620px;
  padding: 63px 290px 31px 290px;
}

.hero-description {
  text-align: center;
  margin: 0 auto;
  width: 654px;
  padding: 0px 273px 90px 273px;
}

/*advantages*/
.devil-bridge-img {
  display: block;
}

.real-town-img {
  display: block;

}

.advantages-main-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

}

.advantages-item {
  height: 214px;
  width: 230px;
  padding: 85px 85px;

}

.advantages-block {
  display: flex;
  width: 1200px;
}

.advantages-list-town {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantage-number {
  font-size: 18px;
  line-height: 21px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-dark {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-dark .advantages-description {
  color: #FFFFFF;
}

.advantages-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-blue {
  background-color: rgba(131, 179, 211, 0.2);

}

/*search*/
.search {
  text-align: center;
}

.search-info {
  color: #333333;
}

/*subscribe*/
.subscribe {
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url(../images/backgrounds/background-subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.field {
  background-color: #F2F2F2;
}

::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

/*footer*/
.footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 142px;
}

.logo-academy {
  display: block;
}

.social-icon {
  display: block;
}

.contact-phone-number {
  width: 720px;
  color: inherit;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.contact-logo {
  width: 115px;
  margin-left: 41px;
  margin-right: auto;
}

/* catalog */
/*filter*/
.filter {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url(../images/backgrounds/background-filter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1060px;
  padding: 0 70px;


}

.inner-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.main-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.main-filter {
  display: flex;
  margin: 0 auto;
}

.main-filter-list {
  list-style: none;
}


.filter-infrastructure {
  width: 150px;
  margin-right: 70px;
}

.filter-type {
  width: 145px;
  margin-right: 167px;
}

.filter-value {
  width: 287px;
  margin-right: 70px;
}

.filter-buttons {
  width: 160px;
}


.main-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;

}

.main-filter-item {
  font-size: 18px;
  line-height: 21px;
}

.filter-price {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

/*catalog*/

.inner-header {
  margin: 0 auto;
  display: flex;
  width: 1057px;
}


.catalog-result {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  width: 338px;
  margin-right: 191px;
}

.select-control-price {
  width: 290px;
  margin-right: 78px;
}



.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-view-list {
  list-style: none;
  width: 160px;
  margin: 0;
  padding: 0;

}

.product-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 auto;
  width: 1056px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-card {
  width: 340px;
}

.product-card-link {
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: inherit;
}

.product-card-item {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-rating {
  background-color: #F2F2F2;
  color: #333333;
}

/*pagination*/
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 400px;
  margin-right: 270px;

}

.pagination-container {
  display: flex;
  width: 1056px;


}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
}

.select-results {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 386px;
}

/*subscribe-catalog*/
.subscribe-catalog {
  background-image: none;
  background-color: #FFFFFF;
  color: #000000;
}

.subscribe-description-catalog {
  color: #333333;
}
