@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background: #FFFFFF;
  margin: 0px;
}
/*buttons*/

.button{
  background-color:#756157;
  font-family: inherit;
  color:#FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.search-button{
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button{
  font-size: 20px;
  line-height: 36px;
  background-color:#82B3D3;
}

.button-favorite{
  background-color:#82B3D3;
}

.button-pagination{
  background-color:#82B3D3;
}
.button-light{
  background-color: #F2F2F2;
  color: inherit;
}

.button-selected{
  background-color:#7DB54F;
}
.button-submit{
  background-color:#82B3D3;

}
.filter-button{
  font-weight: 400;
  text-transform:none;
}

/*header*/
.header{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link{
  color:inherit;
  text-decoration:inherit;
}

/*hero*/
.hero{
  background-color:#000000;
  background-image: url(../images/backgrounds/background-welcome.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.hero-about{
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.hero-description{
  text-align: center;
}

/*advantages*/
.advantages-main-list{
  text-align: center;
}

.advantages-title{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantage-number{
  font-size: 18px;
  line-height: 21px;
}

.advantages-description{
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-town{
  background-color:#82B3D3;
  color:#FFFFFF;
}
.advantages-town .advantages-description{
  color:#FFFFFF;
}

.advantages-house{
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-souvenirs{
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-bridge{
  background-color:#82B3D3;
  color:#FFFFFF;
}

.advantages-bridge .advantages-description{
  color:#FFFFFF;
}

.advantages-size{
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-road{
  background-color: rgba(131, 179, 211, 0.2);

}

.advantages-tourist{
  background-color: rgba(131, 179, 211, 0.12);
}

/*search*/
.search{
  text-align: center;
}

.search-title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-info{
  color:#333333;;
}

/*subscribe*/
.subscribe{
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url(../images/backgrounds/background-subscribe.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.field{
  background-color:#F2F2F2;
}

/*footer*/
.contact-phone-number{
  color:inherit;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/* catalog */
.filter{
  color:#FFFFFF;
  background-color:#000000;
  background-image: url(../images/backgrounds/background-filter.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/*filter*/
.inner-title{
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs-link{
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.main-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.main-filter-item{
  font-size: 18px;
  line-height: 21px;
}

.filter-price{
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

/*catalog*/
.catalog-result{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.select-control{
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-link{
  font-size: 24px;
  line-height: 28px;
  text-decoration:none;
  color:inherit;
}

.product-card-item{
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-price{
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-rating{
  background-color:#F2F2F2;
  color: #333333;
}

/*pagination*/
.pagination-link{
  font-size: 20px;
  line-height: 36px;
}

.select-results{
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/*subscribe-catalog*/
.subscribe-catalog{
  background-image: none;
  background-color: #FFFFFF;
  color: #000000;
}
.subscribe-description-catalog{
  color: #333333;
}
